{% include 'social-sharing' %} 

<ul id="gallery" class="invisible {% if product.image <= 1 %}hidden{% endif %}">
  {% for image in product.images %}
  <li class="{% if forloop.first %} first{% endif %}{% if forloop.last %} last{% endif %}">
    <a class="gallery" rel="product-gallery" href="">
      <img src="{{ image | product_img_url: 'small' }}" alt="{{ image.alt | escape }}" />
    </a>
  </li>
  <li class="{% if forloop.first %} first{% endif %}{% if forloop.last %} last{% endif %}">
    <a class="gallery" rel="product-gallery" href="">
		<img src="{{ image | product_img_url: 'original' }}" alt="{{ image.alt | escape }}" />
    </a>
  </li>
  {% endfor %}
</ul>

  <div id="information" class="invisible description">
    {{ product.description }}
  </div>



<div id="product-image" class="ten columns">
	<div id="product_more">  
	<div id ="product-images" class =" {% if product.image <= 1 %}hidden{% endif %}">More Images</div>
 	</div>
     <img src="{{ product.featured_image | product_img_url: 'grande' }}" alt="{{ product.title }}" id="large-thumb" />
	
</div>


<div id="product-info" class="six columns">
      <div id="add-to-cart-msg"></div>

      <div id="product-header" class="diagonal-divider clearfix">

        <div id="product-header-title">
          <h1 id="product-title">{{ product.title }}</h1>
          {%if settings.show_vendor %}<h3 id="product-vendor">by:{{ product.vendor | link_to_vendor }}</h3>{% endif %}
        </div>

        {% if product.available %}
          <form action="/cart/add" method="post" class="variants" id="product-actions">
            <div class="options clearfix">  

              <div class="variants-wrapper clearfix 
                  {%if product.variants.size == 1 and product.options.size == 1 %} visuallyhidden{% endif %}
                  {%if product.variants.size > 1 and product.options.size == 1 %} one-variant{% endif %}
              "> {% comment %} Hide the dropdown if we've only got one variant and one option to show. {% endcomment %}
                <select id="product-select" name="id">
                  {% for variant in product.variants %}
                  <option value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }} </option>
				{% endfor %}
				</select>

              </div>            
                <input type="submit" name="add" id="add-to-cart" value="Add to Cart" />
                
                            
            </div><!-- /.options -->
          </form>
	      <div id="product-tags">
		<h3>Tags:</h3>
	        {% for tag in product.tags %}  
			        <li><a href="http://whatever.myshopify.com/collections/all/{{ tag }}">{{ tag }}</a></li>
			{% endfor %}
			</div>

        {% else %}
          <div id="product-actions" class="sold-out">
            <div id="purchase">
              <p class="price">Sold out.</p>      
            </div>
          </div>      
        {% endif %}
      </div><!-- /#product-header -->

</div>
    






  {% if settings.productspg_featured_collection != empty and collections[settings.productspg_featured_collection].products.size > 0 %}


	<div class="sixteen columns">
        <h2 class="section-title">{{collections[settings.productspg_featured_collection].title | link_to: collections[settings.productspg_featured_collection].url }}</h2>
        {% capture featured_products_size %}{{ collections[settings.productspg_featured_collection].products.size }}{% endcapture %}
        {% if featured_products_size > settings.productspg_featured_limit %}
          <div class="view-more">{{ 'View More &raquo;' | link_to: collections[settings.productspg_featured_collection].url }}</div>
        {% endif %}
      </div>    

      <ul class="row clearfix" id="secondary-grid">
        {% for product in collections[settings.productspg_featured_collection].products limit: settings.productspg_featured_limit %}
        <li class="one-third column"{% cycle 'alpha', '', '', 'omega' %}>
          {% include 'product-grid-item' %}
        </li>
        {% endfor %}
      </ul>

{% endif %}



{% if settings.links_widgets_product %}
{% include 'link-widgets' %}{% endif %}